# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Tmp
*.tmp
.cache/

# Локальные настройки разработчика
.env
.env.local
